#header {
    top: 0;
    left: 0;
    z-index: 1001;
    width: 100%;
    position: absolute;
    padding: 50px 0 50px;
    .container {
        max-width: 1350px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    justify-content: flex-end;
    @extend %listreset;
    width: 100%;
    text-transform: uppercase;
    @include media('>=768px') {
        display: flex;
        // padding: 0 90px 0 0;
    }
    li {
        &:not(:last-child) {
            margin: 0px 2em 0 0;
        }
    }
}

.hero-section {
    background: #212121;
    background-size: cover;
    background-repeat: no-repeat;
    .container {
        max-width: 1350px;
        min-height: 700px;
        display: flex;
        align-items: center;
        @include media('>=768px') {
            padding-top: 150px;
            padding-bottom: 150px;
            min-height: 926px;
        }
    }
    .first-letter {
        font-size: 32px;
        width: 100%;
        color: #ffcccc;
        margin: 0 auto;
        letter-spacing: 0.1em;
        }
        .second-letter {
        font-size: 19px;
        color: $white;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
        letter-spacing: 0.3px;
    }
}


.main-words {
    width: 30%;
    h1 {
        font-size: 44px;
        color: $white;
        margin: 0;
        font-weight: 100;
        letter-spacing: 3.9px;
        @include media('<=320px') {
            font-size: 20px;
            margin: 20px 0 0 0px;
            min-width: 220px;
        }
        

    }
    p {
        text-align: start;
        color: #cfc7c7;
        font-size: 17px;
        margin: 0 auto;
        font-weight: 300;
        padding: 48px 0 48px 0px;
        cursor: pointer;
        letter-spacing: 0.3px;
        @include media('<=320px') {
            min-width: 320px;
            font-size: 20px;
        }
    }
}

.press {
        height: 52px;
        width: 200px;
        border-radius: 22px;
        cursor: pointer;
        font-size: 17px;
        letter-spacing: 0.2em;
        background-color: #FDDCC4;
        font-size: 17px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        .clik {
            color: $black;
            text-decoration: none;
            font-weight: 600;
        }
}

.press:hover {
    background-color:#cc9f9f;
}




